<div class="container">
  <section class="container__content">
    <div class="container__content--title">
      <span>ADVICE # {{idMensage}}</span>
    </div>
    <div class="container__content--text">
      <p>{{mensage}}</p>
    </div>
    <img class="divider-web" src="../../../assets/pattern-divider-desktop.svg">
    <img class="divider-mobile" src="../../../assets/pattern-divider-mobile.svg">
    <div class="container__footer">
      <button class="btn-primary" (click)="newAdvice()">
        <img src="../../../assets/icon-dice.svg">
      </button>
    </div>
  </section>
</div>
